body {
  margin: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  color: #fff;
  background-color: #000;
  border-left: none;
  border-right: none;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  border-radius: 4px;
  cursor: pointer;
  transition: rotate 300ms;
}

.button:hover {
  rotate: -2deg;
}

.button:active {
  rotate: none;
}

.button-text {
  isolation: isolate;
  overflow: hidden;
  display: block;
  background-color: #ccab88;
  background-image: linear-gradient(
    to right,
    #eb3349 0%,
    #f45c43 51%,
    #eb3349 100%
  );
  border: 1px solid #000;
  border-radius: 4px;
  padding: 12px 24px;
  transition: translate 300ms;
}

.button:hover .button-text {
  translate: -6px -6px;
}

.button:active .button-text {
  translate: none;
}

.reflection {
  display: block;
  position: relative;
  z-index: -1;
  transition: translate 600ms;
  transition-timing-function: cubic-bezier(0.34, 1.56, 064.1);
}

.reflection::before,
.reflection::after {
  content: "";
  position: absolute;
  inset: 0;
  margin-block: auto;
  height: 150px;
  rotate: 25deg;
}

.reflection::before {
  background-color: rgba(255, 255, 255, 0.1);
  left: -15px;
  width: 10px;
}

.reflection::after {
  background-color: rgba(255, 255, 255, 0.2);
  left: 5px;
  width: 40px;
}

.button:hover .reflection {
  translate: 150% 0;
}

.button:active .reflection {
  translate: none;
}
