h1 {
  /* background-image: url("../assets/vecteezy_mother-earth-globe-day-world-environment-day-vector_7943502-1.jpg"); */
  background-color: seagreen;
  font-family: Arial;
  text-align: center;
}
