* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New";
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, rgb(206, 206, 206), white);
  /* background-image: linear-gradient(
    to bottom right,
    #f0db4f,
    #eb345e,
    lightskyblue */
  /* ); */
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container div {
  color: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  width: 30vh;
  height: 30vh;
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.p5js-container {
  background: url("../assets/p5js-pink.png") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #eb345e;
  transition: transform 0.1s ease-in;
}
.p5js-container:hover {
  transform: scale(1.1);
}

.vanilla-container {
  background: url("../assets/js.png") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #f0db4f;
}
.vanilla-container:hover {
  transform: scale(1.1);
}

.processing-container {
  background: url("../assets/Processing_2021_logo.svg") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: lightskyblue;
}
.processing-container:hover {
  transform: scale(1.1);
}
