* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New";
}

:root {
  --std-bg: rgba(16, 18, 25);
  --std-pink: rgb(238, 29, 93);
  --std-blue: rgb(23, 114, 199);
  --std-blue-gray: rgb(130, 160, 187);
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--std-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
