* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New";
}

body {
  height: 100vh;
  width: 100vw;
  background: url("../../assets/p5js-pink.png") no-repeat;
  background-color: #eb345e;
  background-position: center;
}

.title-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  color: seagreen;
  font-size: 5em;
}
